{% extends "layout.html" %}
{% block title %}Laboratorio di Machine Learning - NIM plus{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>NIM plus</h1>
  <p class="important">
    Machine Learning come un gioco</p>

 <!--  <div class=istruzioni>
      <strong> Istruzioni.</strong> -->

  </div>
  <p>
  </p
  
  >
<!--     <div class=snippet>
          {{first}} <span class="redText"> [...] </span>{{second}} 
    </div>
 -->

<!-- <form id="package_form" action="" method="POST">
    <textarea class="form-control" name="content" placeholder="Inserisci una frase, col punto."></textarea>
    <input type="submit"  name="action" value="Invia">
   <div>
    <input type="submit" name="action" value="Leggi tutto">
    </div>*
</form> -->
  <div class=istruzioni>
      <strong> Scatole di Alice</strong>
    </div>
<form id="package_form" method="POST" action="">
<table id="maintab" align="center">
  {% for field in form %}
  {% if field.name == "Alice_Box_0_vuota" %}
    <tr align="left"> <td> Box vuota</td><td>{{ field(class_="my_class") }}    </tr>
  {% elif field.name == "Alice_Box_1_Blu" %}
    <tr align="left">
     <td>{{ field.label }}</td>
     <td>{{ field(class_="my_class") }}</td> 
   </tr>
  {% elif field.name == "Alice_Box_2_Rosse" %}
     <tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
      {% elif field.name == "Alice_Box_2_Gialle" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td>  
    </tr>
  {% elif field.name == "Alice_Box_3_Verdi" %}
     <tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Alice_Box_3_Azzurre" %}
    <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Alice_Box_3_Nere" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td>  
    </tr>
  {% elif field.name == "Alice_Box_4_Blu" %}
     <tr align="left"> 
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Alice_Box_4_Rosse" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Alice_Box_4_Gialle" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 

    </tr>
  {% elif field.name == "Alice_Box_5_Verdi" %}
     <tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Alice_Box_5_Azzurre" %}
     <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Alice_Box_5_Nere" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Alice_Box_5_Blu" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
    </tr>

{% elif field.name == "Alice_Box_6_Rosse" %}
<tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Alice_Box_6_Gialle" %}
     <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Alice_Box_6_Verdi" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Alice_Box_6_Azzurre" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
   {% elif field.name == "Alice_Box_6_Nere" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
    </tr>

{% elif field.name == "Alice_Box_7_Blu" %}
<tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Alice_Box_7_Rosse" %}
     <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Alice_Box_7_Gialle" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Alice_Box_7_Verdi" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
   {% elif field.name == "Alice_Box_7_Azzurre" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
      {% elif field.name == "Alice_Box_7_Nere" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
    </tr>

{% endif %}
        {% endfor %}
</table>

 <div class=istruzioni>
      <strong> Scatole di Bob</strong>
    </div>

    <table id="maintab" align="center">
  {% for field in form %}
  {% if field.name == "Bob_Box_0_vuota" %}
    <tr align="left"> <td> Box vuota</td><td>{{ field(class_="my_class") }}    </tr>
  {% elif field.name == "Bob_Box_1_Blu" %}
    <tr align="left">
     <td>{{ field.label }}</td>
     <td>{{ field(class_="my_class") }}</td> 
   </tr>
  {% elif field.name == "Bob_Box_2_Rosse" %}
     <tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
      {% elif field.name == "Bob_Box_2_Gialle" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td>  
    </tr>
  {% elif field.name == "Bob_Box_3_Verdi" %}
     <tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Bob_Box_3_Azzurre" %}
    <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Bob_Box_3_Nere" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td>  
    </tr>
  {% elif field.name == "Bob_Box_4_Blu" %}
     <tr align="left"> 
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Bob_Box_4_Rosse" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Bob_Box_4_Gialle" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 

    </tr>
  {% elif field.name == "Bob_Box_5_Verdi" %}
     <tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Bob_Box_5_Azzurre" %}
     <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Bob_Box_5_Nere" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Bob_Box_5_Blu" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
    </tr>

{% elif field.name == "Bob_Box_6_Rosse" %}
<tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Bob_Box_6_Gialle" %}
     <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Bob_Box_6_Verdi" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Bob_Box_6_Azzurre" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
   {% elif field.name == "Bob_Box_6_Nere" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
    </tr>

{% elif field.name == "Bob_Box_7_Blu" %}
<tr align="left"> <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Bob_Box_7_Rosse" %}
     <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
 {% elif field.name == "Bob_Box_7_Gialle" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
  {% elif field.name == "Bob_Box_7_Verdi" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
   {% elif field.name == "Bob_Box_7_Azzurre" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
      {% elif field.name == "Bob_Box_7_Nere" %}
      <td>{{ field.label }}</td><td>{{ field(class_="my_class") }}</td> 
    </tr>

{% endif %}
        {% endfor %}
</table>


<p><input type=submit value=Calcola></form></p>


{% endblock %}
  


