{% extends "layout.html" %}
{% block title %}Cadavre Exquis{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Cadavre Exquis</h1>
  <p class="important">
     Un Algoritmo Umano. </p>

  <div class=istruzioni>
      <strong> Istruzioni.</strong>
  Leggi bene il seguente frammento e continua la storia inserendo una frase al posto del blocco  <span class="redText"> [...]</span> in parentesi quadre. Il punto d'inserzione è scelto a caso ad ogni aggiornamento della pagina. </p>

  </div>
  <p>
  </p
  
  >
    <div class=snippet>
          {{first}} <span class="redText"> [...] </span>{{second}} 
    </div>


<form id="package_form" action="" method="POST">
    <textarea class="form-control" name="content" placeholder="Inserisci una frase, col punto."></textarea>
    <input type="submit"  name="action" value="Invia">
   <!-- <div>
    <input type="submit" name="action" value="Leggi tutto">
    </div>* ---!>
</form> 

{% endblock %}
  


