<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Cadavre Exquis</title>

    {% endblock %}
  </head>

  <body>


    <img src="https://static.tvtropes.org/pmwiki/pub/images/darkandstormy_5013.jpg">
    <div class="footnote">
        Art by <a href="https://schulzmuseum.org/" target="_blank"> Charles M. Schultz </a>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    
    <p></p>
    <div id="text" class="testo"> {% block text %}{% endblock%}</div> 
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="https://francescoturci.net/" target="_blank">Francesco Turci</a> 
      for  <a href="https://scienceground.it" target="_blank">Scienceground</a>.
      {% endblock %}
    </div>
  </body>
</html>
